<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/Jester.png">
    <meta charset="UTF-8">
    <title>Jesterday</title>
</head>
<body>
<header>
    <segment>
        <h1>Welcome to Jesterday</h1>
    </segment>
</header>

<main>

    <segment classe="box">
        <h3>Make a <a href="submit.html" class="button">joke</a></h3>
        <h3>Read a <a href="dashboard.html" class="button">joke</a></h3>
    </segment>

</main>

</body>
</html>