<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="../Jester.png">
    <meta charset="UTF-8">
    <title>Jesterday</title>
</head>
<body>

<header>
    <section>
        <h1>Jokeboard</h1>
    </section>
</header>

<main>
    <ul th:each="jokes : ${allJoke}">
        <li th:text="${jokes}"></li>
    </ul>
    <a href="/" class="button">Go back</a>
</main>

</body>
</html>