<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../style.css">
        <link rel="shortcut icon" type="image/png" href="../Jester.png">
        <meta charset="UTF-8">
        <title>Jesterday</title>
    </head>

        <body>

            <header>
                <section>
                    <h1>Submit a joke to Jesterday</h1>
                </section>
            </header>

            <main>
                <section>
                     <form action="/submit-post" method="post">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title">

                        <div>
                            <label for="content">Content</label>
                            <input type="text" id="content" name="content">
                        </div>

                        <div>
                            <label for="date">Date</label>
                            <input type="date" id="date" name="date">
                        </div>

                        <div>
                            <label for="publicity">Public</label>
                            <input type="checkbox" id="publicity" name="publicity">
                            <label for="politicalcorrect">Political Correct</label>
                            <input type="checkbox" id="politicalcorrect" name="politicalcorrect">
                        </div>
                     </form>
                </section>

                    <section>
                        <a href="/submit-post" class="button">Tell joke</a>
                        <a href="index.html" class="button">Go back</a>
                    </section>



            </main>

        </body>
</html>