<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="shortcut icon" type="image/png" href="../static/images/Jester.png">
        <meta charset="UTF-8">
        <title>Jesterday</title>
    </head>

        <body>

            <header>
                <segment>
                    <h1>Submit a to Jesterday</h1>
                </segment>
            </header>



            <main>
                <segment>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title">

                    <div>
                        <label for="content">Content</label>
                        <input type="text" id="content" name="content">
                    </div>

                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date">
                    </div>

                    <div>
                        <label for="publicity">Public</label>
                        <input type="checkbox" id="publicity" name="publicity">
                        <label for="politicalcorrect">Political Correct</label>
                        <input type="checkbox" id="politicalcorrect" name="politicalcorrect">
                    </div>

                </segment>

            </main>

        </body>
</html>